<div>
    <nav 
    class="textureNav navbar d-flex justify-content-around p-0 ">
        <div>
            <div class="btn">
                <h3 >{{position}}</h1>
            </div>
        </div>
        <div>
            <i class="fa fa-home fa-5x text-secondary"></i>
        </div>
        <div class="userName my-3">
            <div class="btn">
                <h1 >{{userShortName}}</h1>
            </div>
        </div>
        <div>
            <i class="fa fa-home fa-5x text-secondary"></i>
        </div>
        <div>
            <div class="btn">
                <h3>{{company}}</h3>
            </div>
        </div>
    </nav>
    <table class="table table-sm">
        <tr class="line-brick">
            <td></td><td></td><td></td><td></td><td></td>
            <td></td><td></td><td></td><td></td><td></td>
            <td></td><td></td><td></td><td></td><td></td>
        </tr>
    </table> 
</div>